.Album {
  position: relative;
  padding: 20px 20px 20px 10px;
  overflow-y: auto;
}

.Album__list {
  transition: opacity 500ms ease-out;
  opacity: 0;

  column-count: 1;
  column-gap: 0;
}

@media (min-width: 768px) {
  .Album__list {
    column-count: 3;
  }
}

.Album__list--isLoaded {
  opacity: 1;
}

.Album__image {
  display: block;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Album__loader {
  position: absolute;
  display: block;
}

.Album__loader--isHidden {
  display: none;
}
