
.Album__list > li {
  display: inline-block;
}

.Album__list {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

.Album__list--isLoaded {
  opacity: 1;
}

.Album__loader {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.Album__loader--isHidden {
  display: none;
}