.Album {
  position: relative;
}

.Album__list {
  transition: opacity 500ms ease-out;
  opacity: 0;
}

.Album__list--isLoaded {
  opacity: 1;
}

.Album__image {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.Album__loader {
  position: absolute;
  display: block;
}

.Album__loader--isHidden {
  display: none;
}
